@model IEnumerable<MenFashionProject.Models.Product>

@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-bold">Danh sách Sản phẩm</h4>
    <a href="/Admin/Product/Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Thêm mới</a>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body p-0">
        <table class="table table-hover align-middle mb-0">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá tiền</th>
                    <th>Tổng Tồn Kho</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="~/images/@item.Image" width="50" /></td>
                        <td>@item.ProductName</td>
                        <td>@string.Format("{0:#,##0}", item.Price) đ</td>

                        <td class="fw-bold text-center">
                            @item.ProductAttributes.Sum(x => x.Quantity)
                        </td>

                        <td>
                            <a asp-action="Attributes" asp-route-id="@item.ProductId" class="btn btn-sm btn-warning">
                                <i class="fa-solid fa-list"></i> Size/Màu
                            </a>

                            <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger" onclick="return confirm('Xóa?')">
                                Xóa
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>